.js-impact-score {
	color: #9A2617;
}

.description {
	margin-top: 5px;
	display: inline-block;
	padding-left: 5px;
	color: #434444;
}


/* Footer */

	#footer {
		padding: 6rem 0 4rem 0 ;
		background: #f2f2f2;
	}

		#footer .copyright {
			color: #bbb;
			font-size: 0.9rem;
			margin: 0 0 2rem 0;
			padding: 0;
			text-align: center;
		}

		@media screen and (max-width: 736px) {

			#footer {
				padding: 3rem 0 1rem 0 ;
			}

		}

	.footer-links {
		color: #E37222;
	}

	

 